@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


body {
  background-color: #C1BDBD;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 26px;
  font-style: normal;
}

.section {
  text-align: center;
  width: 350px;
  height: 412px;
}

.about-us, .seeLocation  {
  padding: 0 165px;
  margin-top: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;

}

.img-icon {
  width: 202px;
  height: 202px;
}
p {
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #333136;
}
h2{
font-family: 'Jost';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
text-align: center;
letter-spacing: 5px;
color: #333136;
}

.location-section{
  text-align: center;
  width: 350px;
  height: 364px;
}
button {
background: #E7816B;
border-radius: 8px;
width: 152px;
height: 56px;
font-family: 'Jost';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
color: #FFFFFF;
border: none;
cursor: pointer;
}